<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Builder Version</key>
	<string>11601.5.17.1</string>
	<key>CFBundleDisplayName</key>
	<string>KeepOnSmiling</string>
	<key>CFBundleIdentifier</key>
	<string>net.distrustsimplicity.keeponsmiling</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>keeponsmiling.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Blacklist</key>
		<array>
			<string>https://*.aws.amazon.com/*</string>
			<string>https://aws.amazon.com/*</string>
			<string>http://*.aws.amazon.com/*</string>
			<string>http://aws.amazon.com/*</string>
			<string>https://www.amazon.com/gp/wishlist/*</string>
			<string>http://www.amazon.com/gp/wishlist/*</string>
		</array>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>keeponsmiling.js</string>
			</array>
		</dict>
	</dict>
	<key>DeveloperIdentifier</key>
	<string>KSA4AUKHSV</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>www.amazon.com</string>
				<string>amazon.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
